# Optimising SQL Queries
© Explore Data Science Academy

## Learning Objectives

In this train, you will learn:
- Common Table Expressions,
- How to optimise SQL queries, and
- How to measure the execution time of a block of code in Jupyter.


## Outline

In this train, we'll go through the following: 
- Why optimise queries?
- Common Table Expressions (CTEs).
- Write efficient SQL queries:
    - Column names instead of *
    - Create JOINS with INNER, not WHERE
    - Avoid using the wildcard (%) at the beginning of a predicate
    - Avoid using functions in predicates
    - Avoid using calculated fields in the JOIN and WHERE clauses

## US Flights Database
In this train, we'll be using the US Flights database with actual US flights data to illustrate the optimisation techniques with large amounts of data. We will also use iPython's built-in `%%time` magic command which will measure the execution time of code within a given jupyter cell. To follow along, you will need to download the `flights.db` database file from Athena. The flights database consist of the following tables:

- **flights**:     all domestic flights in the USA in 2008
- **carriers**:     lookup table for all the carriers
- **airports**:     lookup table for all the airports
- **planes**:     lookup table for the planes

For your convenience, we have also provided the flights database ER diagram:



<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/flights_db_ER.png" width=30% align="left">

Loading SQL magics and load database:

In [1]:
%load_ext sql

# Load SQLite database 
# Make sure this file is in the same directory as your notebook
%sql sqlite:///flights.db

Traceback (most recent call last):
  File "/home/thembajsph/anaconda3/lib/python3.9/site-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///flights.db'])

## Why optimise queries?

Depending on the size of the database and the nature of the query, SQL queries can take a long time to run. Also, writing SQL massive queries can potentially clog a server (in a server-based setup). For example, if a server spends too long on a single query then other queries need to "wait in line" for the server to finish processing the one query. As such, it is important that we write more efficient queries. For example, queries that read as much data as is necessary.

## Common Table Expressions (CTEs)

A CTE is a temporary result (i.e. not saved in the database) set that you can reference within a larger query. A CTE is useful in cases where we need to write nested queries and complex joins. CTEs can be recursive or non-recursive and can be better than standard nested queries when:

- The result of the outer query is referenced more than once.
- Writing recursive queries.

### Non-recursive CTE syntax

A non-recursive CTE can be created as follows:

```SQL
WITH CTE AS
(
SELECT Column1, Column2
FROM table1
)
```
and used as follows:

```SQL
SELECT Column1 
FROM CTE
```

**Note:** For clarity of display, we've cleaned the output of all queries. Please re-run these locally or on Google Colab to see their full output.

## Column names instead of *
**Scenario:** We are only interested in the tail number and delay before departure for each flight. 
 
### Inefficient query

In [ ]:
%%time
%%sql

SELECT * 
FROM flights
LIMIT 2500

### Efficient query

In [ ]:
%%time
%%sql

SELECT TailNum, DepDelay 
FROM flights 
LIMIT 2500

### Why it’s more efficient
Many SQL developers use SELECT * FROM table to get look at column data which becomes taxing if there are many records (normally a few million or more).

Returning only the required columns reduces the total data being read and subsequently runtime. When using * (i.e. want all columns), it’s important to then limit the number of rows using `LIMIT X`

## Create JOINS with INNER, not WHERE
**Scenario:** We want the carrier description to be added to the flights table.
 
### Inefficient query

In [ ]:
%%time
%%sql

SELECT FlightNum, TailNum, Description
FROM flights, carriers
WHERE carriers.Code = flights.UniqueCarrier
LIMIT 2500;

### Efficient query

In [ ]:
%%time
%%sql

SELECT FlightNum, TailNum, Description
FROM flights
INNER JOIN carriers
ON carriers.Code = flights.UniqueCarrier
LIMIT 2500;

### Why it’s more efficient
Joining tables using the WHERE clause is similar to doing a CROSS join. This type of join will first generate all possible combinations of the values in the joining columns and then filter these results according to the specified condition, this means we iterate through the combination of records from both tables. However, when a join operation is performed, only records in the left table are iterated through to find matches in right table.

## Avoid using the wildcard (%) at the beginning of a predicate
**Scenario:** We want the tail number and distance of all flights whose tail number starts with ‘N7’ 
 
### Inefficient query

In [ ]:
%%time
%%sql

SELECT TailNum, Distance
FROM flights
WHERE TailNum LIKE '%N7%'
LIMIT 2500;

### Efficient query

In [ ]:
%%time
%%sql

SELECT TailNum, Distance
FROM flights
WHERE TailNum LIKE 'N7%'
LIMIT 2500;

### Why it’s more efficient
Using a wildcard at the beginning of a pattern will cause a full table scan. If you need to search for text at the beginning of a field, only use a trailing wildcard. This will take advantage of any indexing that is in place.

## Avoid using functions in predicates
**Scenario:** We want to return the origin and departure delay of all flights from a specific origin. 
 
### Inefficient query

In [ ]:
%%time
%%sql

SELECT Origin, DepDelay 
FROM flights
WHERE LOWER(Origin) = 'las'
LIMIT 7000;

### Efficient query

In [ ]:
%%time
%%sql

WITH CTE AS
(SELECT LOWER(Origin) Origin_lower, DepDelay FROM flights)

SELECT * FROM CTE WHERE Origin_lower = 'las'
LIMIT 7000;

### Why it’s more efficient
If we use functions in predicates, the index-based optimisations can’t be used. One alternative method is to use CTE’s instead.

## Avoid using calculated fields in the JOIN and WHERE clauses

**Scenario:** We want to return the flights where the departure delay was more than 20% of the flight time. 
 
### Inefficient query

In [ ]:
%%time
%%sql

SELECT TailNum, DepDelay
FROM flights
WHERE AirTime/5 < DepDelay
LIMIT 5000;

### Efficient query

In [ ]:
%%time
%%sql

WITH CTE AS 
(SELECT AirTime/5 as fifth_time, DepDelay, TailNum FROM flights)

SELECT TailNum, DepDelay 
FROM CTE
WHERE CTE.fifth_time < CTE.DepDelay
LIMIT 5000;

### Why it’s more efficient

Calculated fields in JOIN and WHERE clauses also prevent indices from being used. CTEs can be used instead here as well.


## Conclusion

In this train, we covered different strategies for optimising SQL queries. These can be summarised as follows:

- **Column names instead of ***
    - Taxing to return records of all columns for big tables
    - Limit amount of data being read by specifying subset of columns
    
    
- **Create JOINS with INNER, not WHERE**
    - WHERE clause does a CROSS join which considers the combination of rows from both tables
    - Join statements only iterate through records in the left table when looking for matches.
 
 
- **Avoid using the wildcard (%) at the beginning of a predicate**
    - Execution will be slower if % at beginning due to full table scan
    - Use only trailing wildcard when searching for start of word


- **Avoid using functions in predicates**
    - Execution will be slower, due to not using indices
    - Create CTE to handle it instead
     
    
- **Avoid using calculated fields in the JOIN and WHERE clauses**
    - Avoid Calculated Fields in JOIN and WHERE clause
    - Create CTE to handle it instead
    
As demonstrated in the train, another quick way to make queries more efficient, particularly in cases where we don't want the full output of a query, is to use the `LIMIT` keyword.

## Appendix

The following links may be useful for further learning around the content we've covered: 

 - [SQL Server CTEs](https://www.sqlservertutorial.net/sql-server-basics/sql-server-cte/)
 - [8 ways to fine tune SQL queries](https://www.sisense.com/blog/8-ways-fine-tune-sql-queries-production-databases/)