# Working with Numpy and Pandas
Numpy and Pandas are packages in Python that are used for handling data.

Numpy is short form of "Numerical python" and it is used in working with mostly number arrays. [Array](https://www.google.com/search?q=array+meaning&rlz=1C1JZAP_enZA940ZA941&sxsrf=APq-WBujNrnurYoExFDjmDcCx32Uxr5uiQ%3A1646675346735&ei=kkUmYpmcLI-T8gKo6bC4DQ&ved=0ahUKEwiZrejYx7T2AhWPiVwKHag0DNcQ4dUDCA4&uact=5&oq=array+meaning&gs_lcp=Cgdnd3Mtd2l6EAMyBwgjELADECcyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAELADEENKBAhBGABKBAhGGABQAFgAYMsLaAFwAXgAgAEAiAEAkgEAmAEAyAEKwAEB&sclient=gws-wiz)s are by definition an ordered series or arrangement of a particular type of thing. This means that when using Numpy we will mostly be using a collection of numbers.

Python has lists and dictionaries and tuples and sets and series built in so why do we need to use Numpy?

![why](https://media2.giphy.com/media/457NTDOuMmDfO/200.webp?cid=ecf05e47frkycyosf46393rdqpk2u4yjpgyefcka67enc6nf&rid=200.webp&ct=g)

Well there are a number of advantages one of which is speed especially when dealing with a numerical collection of numbers. Also we would need to use it for it's strong ability to slice through multi dimensional arrays and [matrices](https://www.google.com/search?q=matrix+definition+programming&rlz=1C1JZAP_enZA940ZA941&sxsrf=APq-WBv8LnFJtPFox0s2VzLEVKiup5axzA%3A1646676706997&ei=4komYoqNPIqGhbIPi9-A-AI&oq=matrix+definition+pro&gs_lcp=Cgdnd3Mtd2l6EAMYADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIIxCwAxAnOgcIABBHELADOgcIABCwAxBDOgoIABDkAhCwAxgAOg8ILhDUAhDIAxCwAxBDGAE6DAguEMgDELADEEMYAToECCMQJzoFCAAQgARKBAhBGABKBAhGGAFQtilYqjNg8kJoAXABeACAAZACiAHsB5IBAzItNJgBAKABAcgBE8ABAdoBBggAEAEYCdoBBggBEAEYCA&sclient=gws-wiz). This means that there is some advantage to working with Numpy as opposed to working with Python's built-in list functionality.

So we can understand that when working with numpy we would have to have this package added to Python which will allow us to use it. To do this we will need to [pip](https://www.knowledgehut.com/blog/programming/what-is-pip-in-python) install import the package into the notebook.

In [ ]:
# When importing packages in a notebook we add the exclamation mark before pip
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)

It is important to note that we installed the package in this notebook and not in the whole of python. So this means that if you were to use another python notebook you would need to install the package again. There is method to this madness. When we use some other packages that are far larger and not as common we would need to manage the size of the python files as this could impact the general speed at which python operates under.

So with the package installed we now have to try and use and to do that we will use the import function.

In [ ]:
import numpy as np # this helps in making it easier to type

In [ ]:
# Create an array of numbers
arr = np.array([11,21,43,4,15,67,7])

In [ ]:
# Print out the array
print(arr)

[11 21 43  4 15 67  7]

In [ ]:
# Add some elements to the array
arr = np.append(arr, [10.123,21.7326372, 124.34,-12,0.1121,-21.3324,-21.3324])
arr

array([ 1.10000000e+01,  2.10000000e+01,  4.30000000e+01,  4.00000000e+00,
        1.50000000e+01,  6.70000000e+01,  7.00000000e+00,  1.01230000e+01,
        2.17326372e+01,  1.24340000e+02, -1.20000000e+01,  1.12100000e-01,
       -2.13324000e+01, -2.13324000e+01])

In [ ]:
arr
# newarr

array([ 1.10000000e+01,  2.10000000e+01,  4.30000000e+01,  4.00000000e+00,
        1.50000000e+01,  6.70000000e+01,  7.00000000e+00,  1.01230000e+01,
        2.17326372e+01,  1.24340000e+02, -1.20000000e+01,  1.12100000e-01,
       -2.13324000e+01, -2.13324000e+01])

In [ ]:
# Copy the array and display the array has elements of the same type (no floats just int)
newarr = arr.astype(int)
newarr

array([ 11,  21,  43,   4,  15,  67,   7,  10,  21, 124, -12,   0, -21,
       -21])

In [ ]:
# Copy the array and display the array has elements of the same type (no int just float)
newarr1 = arr.astype(float)
np.round(newarr1,2)

array([ 1.1000e+01,  2.1000e+01,  4.3000e+01,  4.0000e+00,  1.5000e+01,
        6.7000e+01,  7.0000e+00,  1.0120e+01,  2.1730e+01,  1.2434e+02,
       -1.2000e+01,  1.1000e-01, -2.1330e+01, -2.1330e+01])

So let's get just one element in the array. Let's use the index in the array to access it. It is important to remember that in Python we use 0 which means that the item in the first position is 0 and second item is 1 and so on. The last item in an array with length 'n' will be 'n-1' and the second last will be n-2 and so on.

In [ ]:
print(arr[11])

0.1121

In [ ]:
print(arr[-2])

-21.3324

In [ ]:
arr.shape

(14,)

In [ ]:
arr.size

14

In [ ]:
# Order the array in ascending order (smallest to biggest)
arr.sort()
arr

array([-2.13324000e+01, -2.13324000e+01, -1.20000000e+01,  1.12100000e-01,
        4.00000000e+00,  7.00000000e+00,  1.01230000e+01,  1.10000000e+01,
        1.50000000e+01,  2.10000000e+01,  2.17326372e+01,  4.30000000e+01,
        6.70000000e+01,  1.24340000e+02])

In [ ]:
# Find the location of the largest element in the array
np.argmax(newarr1)

9

In [ ]:
# Find the location of the smallest element in the array
np.argmin(arr)

0

In [ ]:
# Find where the element in the argument would go when inserted into a sorted array
np.searchsorted(arr,7)

5

Awesome so we did some basic functions with an array in Numpy! This is a simple 1-D array. It also still look like a list and all that we did is farily similar to what we can do to a list. Nothing special really right? Perhaps it might be time to...

![Level up](https://media1.giphy.com/media/St3iie3VZ65VHkobqc/200w.webp?cid=ecf05e47l1dzvpbdfbljta5woqedwyf5ysy8aqhyg9pxky7j&rid=200w.webp&ct=g)

Let's look at what Numpy cooler than the built in.
### Multi Dimensional Array
OK, but first let's undertsand what a dimension is. An array is a collection of stuff (in Numpy stuff is numerical stuff) and that stuff looks like a list. What if we added more stuff which in fact was a collection of numerical stuff. That is still a collection of stuff but we have just added levels to the stuff, those levels are dimensions. We can have multiple dimensions but we usually think of stuff as having 3 dimensions.

In [ ]:
arr1 = np.arange(1,91)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr1.shape

(90,)

In [ ]:
arr2 = np.arange(1,91).reshape(9,10)
arr2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
       [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
       [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]])

In [ ]:
arr2.shape

(9, 10)

In [ ]:
arr3 = np.arange(1,91).reshape(3,3,10)
arr3

array([[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
        [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]],

       [[31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
        [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
        [51, 52, 53, 54, 55, 56, 57, 58, 59, 60]],

       [[61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
        [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
        [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]]])

In [ ]:
arr3.shape

(3, 3, 10)

In [ ]:
arr3 = np.arange(1,91)
arr3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr3 = np.arange(1,91).reshape(10,9)
arr3

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34, 35, 36],
       [37, 38, 39, 40, 41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59, 60, 61, 62, 63],
       [64, 65, 66, 67, 68, 69, 70, 71, 72],
       [73, 74, 75, 76, 77, 78, 79, 80, 81],
       [82, 83, 84, 85, 86, 87, 88, 89, 90]])

So arrays and especially multi-dimesnional arrays are useful in visualising data. We more often than not use 2-D arrays in a matrix which helps in mathematical and scientific calculations.

![3D-Array](https://miro.medium.com/max/1200/1*sxnhgeSptW8Jfol8XUyP-Q.png)

In [ ]:
arr3.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr3[1:3:2,1]

array([11])

OK so we have gone down the numpy path a bit. You can check out some of the other routines, modules and functions on this [link](https://numpy.org/doc/stable/reference/index.html)

You can also do some tutorials with the package [here](https://numpy.org/numpy-tutorials/).

![well done](https://c.tenor.com/qeZMLpa-G0MAAAAC/deadpool-clapping.gif)

Let's figure out some trickier concepts with this package. 
## Can it do Stats?
![I_dunno](https://www.wired.com/wp-content/uploads/2015/03/855.gif)

Yeah, well, the simple answer is yes **YOU CAN** do stats using Numpy. Afterall it is named **NUM**erical **PY**thon for a reason. So how about we see some of the built-in functions that can help you do some descriptive statistics.

**What Are Descriptive Statistics?**

Descriptive statistics are brief informational coefficients that summarize a given data set, which can be either a representation of the entire population or a sample of a population. Descriptive statistics are broken down into measures of central tendency and measures of variability (spread). Measures of central tendency include the mean, median, and mode, while measures of variability include standard deviation, variance, minimum and maximum variables, kurtosis, and skewness.

### **Central Tendancy Measures**
Centrality measures show the central or middle values of datasets. There are several definitions of what’s considered to be the center of a dataset. The three major measures of center include the mean, median, and mode.

![central_tendancy](https://cdn.corporatefinanceinstitute.com/assets/central-tendency4.png)

The mean is often the sum of all the values divided by the number of values in a distribution. We can also refer to it as the average.

![I_mean](https://media.tenor.com/Uc7IWZFXI4gAAAAM/i-mean-gif.gif)

In [ ]:
# Mean
np.mean(arr3)

45.5

**The median** is the *middle value* of a sorted data set.
To calculate the median, arrange the data points in the increasing order and the middle value is the median. It is easy to find out the middle value if there is an odd number of data points. If the collection is even, then the median is the arithmetic mean of the two values in the middle.

![]()

In [ ]:
# Median
np.median(arr3)

45.5

**The mode** refers to the most repeating element in the array. 

![Mode]()

If there isn’t a single such value, then the set is multimodal since it has multiple modal values.

In [ ]:
from statistics import mode

In [ ]:
# Mode
array = np.array([2,5,621,21,3,8,9,7,9,8,7,775,5,8])

In [ ]:
vals,counts = np.unique(array, return_counts=True)
vals

array([  2,   3,   5,   7,   8,   9,  21, 621, 775])

In [ ]:
counts

array([1, 1, 2, 2, 3, 2, 1, 1, 1])

In [ ]:
mode = np.argmax(counts)
mode

4

In [ ]:
print(vals[mode])

8

In [ ]:
from scipy import stats as st
print(st.mode(array))

ModeResult(mode=array([8]), count=array([3]))

![](https://i.imgflip.com/6e0y2v.jpg)

There is a difference in between these measures which is often not always noticed but exists.

1. The *median* is a better choice when the indicator *can be affected by some outliers*.
2. The *median* is the middle value which is *not affected by these outliers*.
3. The *mean is* a better choice when there are *no extreme values that can affect it*.
4. The *mean is* a better summary because the *information from every data point is included* rather than median, which is just the middle value.
5. The *mode* is the *value that occurs the most number of times* in our data set.


![central_tendancy_distribution](https://miro.medium.com/max/651/0*BicwQ6RD8k3YTByX)

In [ ]:
np.median(array)

8.0

In [ ]:
np.mean(array)

106.28571428571429

In [ ]:
st.mode(array)

ModeResult(mode=array([8]), count=array([3]))

### **Variability Measures**

Variability measures are values that describe how the data varies. It gives us a sense of how much the data tends to diverge from the typical value. These include
- Range
- Percentiles
- Variance
- Standard Deviation
- Skewness

![deviation](https://y.yarn.co/c0442378-c20e-42cb-8510-7019c4a908c0_text.gif)

**Range** is just the largest number minus the smallest number. The range gives a quick sense of the spread of the distribution to those who require only a rough indication of the data. The major drawback is it does not give any information of the data in between maximum and minimum.

In [ ]:
np.ptp(array)

773

**Percentile** is a measure which is a number where a certain percentage of scores fall below that number. In other words it is a value on a scale of one hundred that indicates the percent of a distribution that is equal to or below it.

In [ ]:
# Tenth percentile
np.percentile(array, 10)

3.6

In [ ]:
# Fourteenth percentile
np.percentile(array, 14)

4.640000000000001

In [ ]:
# Q1
np.percentile(array, 25)

5.5

In [ ]:
# Q2
np.percentile(array, 50)

8.0

In [ ]:
# Q3
np.percentile(array, 75)

9.0

In [ ]:
# Percentiles as a list
np.percentile(array, [25,50,75])

array([5.5, 8. , 9. ])

**Quantiles** are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities, or dividing the observations in a sample in the same way. In simple terms, a quantile is where a sample is divided into equal-sized, adjacent, subgroups. We use decimals to indicate the percentages that we want.

In [ ]:
np.quantile(array, 0.1)

3.6

In [ ]:
np.quantile(array, 0.14)

4.640000000000001

In [ ]:
np.quantile(array, 0.25)

5.5

In [ ]:
# Quantile
np.quantile(array, [0.25,0.5,0.75])

array([5.5, 8. , 9. ])


## Pandas
So we have gotten this far and it means we can look at the next package which we use quite often used alongside Numpy...**Pandas** *cue the song [Panda](https://www.youtube.com/watch?v=E5ONTXHS2mM&ab_channel=DesiignerVEVO)* 

So Pandas is a package that is built on top of Numpy and it is a way of working with data in a tabular format. So we get to see data in a format very similar to an array where it has columns and rows and the data falls within this structure.

![pandas](https://miro.medium.com/max/819/1*Dss7A8Z-M4x8LD9ccgw7pQ.png)

When the data is in this format we refer to it as a dataframe and this dataframe is then a set of data which can be imported, analysed, cleaned and manipulated. The process of manipulating the data is a way in which we make the data readable and have relevance and use. We can see things such as correlation, averages, mean, min and relations. 

Like Numpy we have to instal the package first.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
test_table = {
    'Students' : ['Name1', 'Name2', 'Name3'],
    'StudentAlt' : ['NameAlt1','NameAlt2','NameAlt3']
}
test_table

{'Students': ['Name1', 'Name2', 'Name3'],
 'StudentAlt': ['NameAlt1', 'NameAlt2', 'NameAlt3']}

In [ ]:
df = pd.DataFrame(test_table)

In [ ]:
df

  Students StudentAlt
0    Name1   NameAlt1
1    Name2   NameAlt2
2    Name3   NameAlt3

In [ ]:
df.insert(2,'RegistrationDate',['2002-28-23','testing','to see if it works'])

In [ ]:
df

  Students StudentAlt    RegistrationDate
0    Name1   NameAlt1          2002-28-23
1    Name2   NameAlt2             testing
2    Name3   NameAlt3  to see if it works

In [ ]:
import datetime
import random

In [ ]:
df1 = df.drop(columns = ['RegistrationDate'])

In [ ]:
df

  Students StudentAlt    RegistrationDate
0    Name1   NameAlt1          2002-28-23
1    Name2   NameAlt2             testing
2    Name3   NameAlt3  to see if it works

In [ ]:
df1

  Students StudentAlt
0    Name1   NameAlt1
1    Name2   NameAlt2
2    Name3   NameAlt3

In [ ]:
import pandas as pd
import numpy as np
import datetime
import random

In [ ]:
acc = np.random.randint(1000000000000000,1111111111999999,50)
card = np.random.randint(1000000000000000,1111111111999999,50)
dates = [np.random.choice(pd.date_range(datetime.datetime(2020,1,1),datetime.datetime(2021,3,31))) for i in range(400)]
money = np.random.randint(-300,72000,300)

In [ ]:
dftest= pd.DataFrame({'Acc' : [np.random.choice(acc) for i in range(50)],
    'dates': [np.random.choice(pd.date_range(datetime.datetime(2020,1,1),datetime.datetime(2021,3,31))) for i in range(50)],
    'accountId' : [np.random.choice(acc)for _ in range(50)],
                   'cardNumber': np.random.randint(1000000000000000,1111111111999999,50),
                   'ActivationDate' : [np.random.choice(dates) for i in range(50)],
                   'Income' : [np.random.choice(money)for _ in range(50)]})

In [ ]:
dftest

,Acc,dates,accountId,cardNumber,ActivationDate,Income
0,1067598676087352,2020-09-10,1025615326966060,1058800362847787,2020-02-19,65040
1,1068617439624400,2020-11-20,1025615326966060,1029705418456659,2020-07-29,4322
2,1040709398052014,2020-07-07,1081794524678825,1039664751375175,2020-01-18,46445
3,1065124359547665,2020-04-06,1075820882411561,1002738693038927,2020-01-22,53029
4,1040892379023789,2021-01-07,1085864929927123,1052624628145579,2020-08-04,18565
5,1016111475041355,2020-02-18,1028531210828742,1001274584875124,2021-01-29,4674
6,1067598676087352,2020-12-13,1039093834731484,1013098209198973,2020-01-11,36
7,1079271296469502,2020-10-07,1055970040922182,1061416505077620,2020-11-17,38781
8,1079271296469502,2020-01-15,1054833935159968,1025173798721578,2020-02-23,2618
9,1014217100008397,2020-06-04,1025615326966060,1042636053112457,2020-09-16,42929
10,1023332658544169,2020-09-30,1108640557611791,1057948243657401,2020-08-09,62545
11,1040709398052014,2020-09-29,1005519661008787,1065679730874334,2021-01-30,38241
12,1085864929927123,2021-01-02,1065124359547665,1059800961794283,2020-11-03,2149
13,1016111475041355,2020-04-25,1081794524678825,1075650575477516,2020-07-28,61338
14,1049684743824984,2020-07-23,1027256123677014,1089305878812906,2020-07-18,69677
15,1075820882411561,2021-01-18,1059301695582106,1051024182602935,2020-09-06,68654
16,1065124359547665,2020-10-25,1016111475041355,1062687093339870,2020-08-03,42929
17,1102516018052031,2020-04-22,1084507996980791,1091814500458769,2020-07-18,-182
18,1110654702553345,2020-11-10,1107593045398036,1080505175633712,2020-01-09,53019
19,1090165543626765,2020-09-28,1051880161265727,1025836993329391,2020-01-14,54978
20,1040892379023789,2021-01-26,1014588055166581,1029734086583348,2020-12-10,3975
21,1029706847423553,2020-07-07,1087832919517606,1100168878132414,2021-03-07,63973
22,1025615326966060,2020-03-05,1105962505785938,1095660503290324,2020-05-31,19720
23,1081794524678825,2020-04-28,1065124359547665,1097947881777625,2020-02-26,4811
24,1084507996980791,2020-01-17,1107593045398036,1029449234334434,2020-03-02,27720
25,1049949414058110,2020-01-28,1080584749485331,1013883197190899,2020-05-15,36123
26,1007607074063246,2020-05-01,1110125558656018,1080825888743691,2020-10-02,43552
27,1070340832755890,2020-11-03,1025615326966060,1083226143080418,2020-05-19,54644
28,1070340832755890,2020-02-02,1029706847423553,1001155606668770,2020-03-15,36986
29,1079271296469502,2020-07-09,1075820882411561,1057921585234681,2020-08-26,10141
30,1058458472647698,2020-10-09,1102516018052031,1022123805667001,2020-11-04,28726
31,1082549487327559,2020-05-13,1110125558656018,1071940382259835,2020-10-26,459
32,1070639771233054,2020-09-19,1014217100008397,1011437448446609,2020-04-12,70762
33,1054833935159968,2021-01-09,1003148745485144,1019532453218097,2020-01-06,43987
34,1054833935159968,2020-06-27,1007966279108308,1092005977950168,2020-02-19,50633
35,1068617439624400,2020-06-23,1055970040922182,1073290359634665,2020-07-04,65184
36,1085864929927123,2020-04-15,1040892379023789,1005911719818303,2020-07-21,1876
37,1079589781829232,2020-09-01,1067598676087352,1091056515838963,2020-03-10,2697
38,1105962505785938,2020-01-18,1067598676087352,1003484858763905,2020-12-06,7933
39,1067598676087352,2020-12-11,1107593045398036,1027392144401383,2020-08-12,27771
40,1036813970475766,2020-10-10,1039093834731484,1075454560036366,2021-03-16,47064
41,1075820882411561,2020-09-15,1003148745485144,1006079311330960,2020-12-29,64381
42,1110654702553345,2020-04-02,1039093834731484,1060623453043162,2021-01-18,35239
43,1084507996980791,2021-02-27,1110125558656018,1102863661187141,2020-11-19,62425
44,1054833935159968,2020-05-28,1023332658544169,1002832198091049,2020-09-22,58528
45,1049684743824984,2020-02-27,1023332658544169,1034735103424451,2020-02-16,34236
46,1002804011600756,2020-11-20,1055970040922182,1077930940178503,2020-06-08,15311
47,1025615326966060,2020-08-18,1080584749485331,1101253167412788,2020-08-26,64381
48,1059301695582106,2020-01-24,1090165543626765,1040090440390899,2021-03-21,62901
49,1059301695582106,2020-11-12,1092854205714718,1026946345810752,2020-03-30,48213

In [ ]:
name = ('Naomi','Christine','Chris','Andile','Siphiwe','Mpho','Itumeleng','Thandanani','Lesego','Luthando','Lebogang','Charmaine','Teballo','Lauren',
        'Lynn','Tebogo','Trevor','Wayne','Paballo','Mark','Nicollette','Angela','Nick','Ben','Warren','Fransisco','Charlotte','Lisette','Annelise',
        'Mariska','Ettiene','Martinus','Jacqueline','Usman','Aisha','Maryam','Yakubu','Taiwo','Emeka','Halima','Ifeoma','Kehinde','Chinyere','Chioma',
        'Wanjiru','Mwangi','Odhiambo','Ochieng','William','Ahmed','Onyango','Felo','Nneka','Abdullahi','Amina','Kemunto','Wambui','Njoroge','Wanjiku',
        'Monica','Lawrence','Caleb','Denise','Dennis','Raphael')
surname = ('Wilson','Barnes','van der Linde','Tomlin','Hemmingway','Horton','Bleecher','Skosana','Ngwenya','Ngcobo','Mothapo','Letsoalo',
           'Kubeka','Dlamini','Sedumedi','Hobbs','Motsepe','Zulu','Van Rooyen','Williams','Pieterson','Moloi','Wu','Vos','De Villiers',
           'De Vos','Viljoen','van den Berg','Otieno','Mohamed','Mwangi','Odhiambo','Maina','Ochieng','Ali','Onyango','Juma','Wambui','Njeri',
           'Kariuki','Akinyi','Achieng','Muthoni','Kimani','Adhiambo','Njuguna','Macharia','Barasa','Cheruiyot','Ibrahim','Musa','Abubakar',
           'Isah','Yakubu','Aminu','Yahaya','Shehu','Okafor','Okeke','Adebayo','Okoro','Okon','Chukwu','Nwachukwu','Nwankwo','Okoye','Ogbonna',
           'Adeyemi','Yunusa','Balogun','Nwafor','Effiong','Amadu','Sanusi','Anyanwu','Danjuma','Ohakwu','Opara','Taiwo','Onuoha','Babatunde') 
# cellnumber = ()
password = ('1','2','3','4','5','6','7','8','9','0','!@#$%^&*()_+><,.;=','aqwsxcderfvbgtyhnmjyukliop')
address = ('1234567890!@#$%^&*()_+><,.;=aqwsxcderfvbgtyhnmjyukliop')
domain = ('@yahoo.com','@gmail.com','@outlook.com','@icloud.com')
# area=('Kibler Park','Rispark','Mayfield park','Aspen Hills nature-estate','Glenvista','Oakdene','Raceview','New Redruth',
# 'Verwoerdpark','Hazel Park','Abmarie','Winford','Tedderfield','Mulbarton','Liefde en vrede','Kenilworth','Roodekop','Palm Ridge',
# 'Albertsdal','Mayberry Park','Southfork','General Alberspark','Mimosa Park','Florentia','Eye of Africa','Elsiehof','Duduza',
# 'Olifantsvlei','South Hills','Welfare Park','Forest hill','Haddon','Towerby','Pennylane','Alrode','Rosettenville','Kwa-Thema',
# 'Union','Roxton','Townsview','Linmeyer','South Crest','Elandspark','Tulisa Park','Steeledale','The Hill','Parkhill Gardens',
# 'Electron','Randhart','Elandsfontien','Albemarie','Alberante','Moffat veiw','Roseacre','Klipriversberg','Regents Park Estate')
province=('Gauteng','Free State')

In [ ]:
retail=(
    'Chelino Baby', 'Cardies', 'CNA', 'CUM Books','Exclusive Books','Musica','Cell C','Gadget Candy',
    'MTN','Samsung','Vodacom 4U','weFix','Accessorize','Converse','Earthchild','GenX','Guess Kids',
    'Hugo Boss','Keedo','Kids Emporium','Naartjie Clothing','Dion Wired','hp store','Incredible Connection',
    'Da Vinci Ice Cream','Haagen-Dazs','Krispy Kreme','Lindt','Milky Lane','Sweets From Heaven','Bean Tree',
    'Biltong Box','Bread Ahead','Burger King','Chicken Licken','Cinnabon','Debonairs','Fish Aways','Hero Pies',
    'Hot Dog Café','Kauai','KFC','McDonalds','Mi-Vama','My Diners Express','Romans Pizza','Sausage Saloon',
    'Steers','The Flaming Teppan & Tandoor','Wrap it up Cafe','Babies R Us','Edgars','Game','Hub','Verimark',
    'Woolworths','Action Bowling','Action Karting','be.UP Park','Dodgems Cars','Electric Avenue','Galaxy Bingo',
    'Mr Funtubbles','S.O.C.A  Sport on Court','Snow Wonderland','Ster-Kinekor','XD Theatre Dark Ride','Nu Metro',
    'Execuspecs','Specsavers','Sunglass Hut','Aca Joe','Ackermans','Armani Exchange','Bogart Man','Cotton On',
    'Country Road','Diesel Emporium','Exact','Donna','Fabiani','Factorie','Fashion Fusion','Forever New','Foschini',
    'Guess','H&M','Hilton Weiner','Identity','Jet','John Craig','Kingsmead Shoes','Lacoste','Legit','Levis',
    'Miladys','Mr Price Apparell','Old Khaki','Pick n Pay Clothing','Poetry','Polo','Pringle of Scotland','PUMA',
    'Queenspark','Refinery','Replay','Rockport','Sissy Boy','Soviet','Superdry','Tommy Hilfiger','Truworths','YDE',
    'Uzzi','Vans','Zara','Typo','Zoggy’s Tabacconist Store','Aldo','Brazilia Designer Shoe Outlet','Crocs',
    'Europa Art','Green Cross','Havaianas','Shoe City','Skechers','Shoeperama','Spitz','Steve Madden','Superga',
    'Topshelf','Tread + Miller','Boardmans','Essops Home','Home Etc.','Hyper House & Home','Mr Price Home',
    'Rugs Original','Sheet Street','Virgin Active','Sports and Fitness Centre','S.W.E.A.T','Arthur Ford','Clicks',
    'Calypso Hair & Beauty','Dis-Chem','Gerald Wells','Kryolan','LOccitane','Red Square','Dream Nails','Sorbet',
    'The Body Shop','The Original Barber','XTreme Nutrition','DNA Therapy','Fragrance Boutique','M.A.C',
    'Road Lodge Hotel','Holiday Inn','Afrokwazi','American Swiss','Arthur Kaplan','Bellagio','Browns The Diamond Store',
    'Fossil','Golden Jewellers','Guess Accessories','Lovisa','Mont Blanc','NWJ','Sterns','Swarovski','Swatch',
    'Tag Heuer','Adega','Barcelos Flame Grilled Chicken','Burger Rack','Cacao Chocolate Bar','Calistos',
    'Cape Town Fish Market','Chateau Gateaux Patisserie','Colcacchio','Cuba Lounge','Cubana','Dros Family Restaurant',
    'Galitos','Jimmys Killer Prawns','John Dorys','Mimmos','Mochachos','Mugg & Bean','Nandos','Panarottis',
    'Primi','RocoMamas','Simply Asia','Starbucks','Tashas','Wimpy','Xpresso','Absolute Pets','Auto Car Express',
    'Cobblers Heel & Key','Security Hyperstore','Fidelity ADT','National Security','Blades & Triggers',
    'Cajees','Cool Collectables','Electric Eye Tattoos','Elna Home Products','Game Liquor','Pick n Pay Liquor',
    'Rare Earth Crystals','Nespresso','Spice Emporium','Reach for A dream Foundation','The Crazy Store','The Scoin Shop',
    'The Vape Shop','Twisp','Cape Union Mart','Crossover','Le Coq Sportif','Mr Price Sport','Quicksilver','Sportscene',
    'Sportsmans Warehouse','The Cross Trainer','Totalsports','Under Armour','Checkers Hyper','Superspar','Tops Liquors',
    'Pick n Pay','Flight Centre','Pentravel','Metrobus','Putco','Wonga','Cash Crusaders Pay Day Advance','Addide Supermarket',
    'Ajayi Supermarkets','Best Choice Supermarket','Bimta Supermarkets','Genesis Supermarkets','Homebiz Supermarkets',
    'Jara Superstore','Prince Ebeano Supermarkets','TwinsFaja Supermarkets','Wetin dey Stores','Blenco supermarkets',
    "Chanrai's Supermarket & Departmental Store",'Eastmatt Supermarkets','Maathai Supermarkets',"Khetia's Supermarkets",
    'Naivas Limited','Mobius Motors','Uchumi Supermarkets','Rea Vipingo Sisal Estate','Lacoste Boutique','De-Paragon Collections',
    'Netz','Abari Bamboo Sunglasses','Yesidefashionstore.com','Laredo Super Store','Naijabuynsell','Bakan Gizo Pharmacy & Stores',
    'Svengali Designs','Fredwud Advanced Furniture','Meridien View Nigeria','Jovic Furniture','Fedsons Group','Vava Furniture'
       )
trancat=('POSPurchase','FeesAndInterest','AccountCredit')
ttype=('CREDIT', 'DEBIT','REWARDS')
area=('Benoni','Boksburg','Brakpan','Carletonville','Germiston','Johannesburg','Krugersdorp','Pretoria','Randburg',
'Randfontein','Roodepoort','Soweto','Springs','Vanderbijlpark','Vereeniging','Alexandra','Lenasia','Midrand','Sandton',
'Mshengu','Klipfontienview','Orange Farm','Alberton','Germiston','Clayville','Daveyton','Devon','Duduza','Edenvale',
'Ennerdale','Impumelelo','Isando','Katlehong','Kempton Park','KwaThema','Nigel','Olifantsfontein','Reiger Park',
'Tembisa','Thokoza','Tsakane','Vosloorus','Wattville','Atteridgeville','Bronberg','Bronkhorstspruit','Centurion',
'Cullinan','Ekangala','Ga-Rankuwa','Hammanskraal','Irene','Mabopane','Mamelodi','Rayton','Refilwe','Soshanguve',
'Zithobeni','Boipatong','Bophelong','Evaton','Sebokeng','Sharpeville','Meyerton','Carletonville','Khutsong',
'Fochville','Kokosi','Greenspark','Wedela','Welverdiend','Blybank','Kagiso','Krugersdorp', 'Kabarak Estate',
'Lekki','Ojota','Victoria Island','Otukpo','Alagbado','Yaba','Ogba','Asokoro','Nicon Town','Ibara','Kamukunji Estate',
'Alimosho','Okota','Gwarrinpa','Ikoyi','Arochukwu','Katagum','Dikwa','Portharcourt','Karen','Langata','Kyuna',
'Enugu','Nsukka','Gombe','Kaduna','Emaa','Banana Island Ikoyi','Maitama','Jabi','Alalubosa','Gigiri','Kilimani',
'Runda','Kitisuru','Kyuna','Lower Kabete','Kileleshwa','Muthaiga','Gigiri','Bahati Estate','Bamburi Estate',
'Mombasa Island','Nakuru','Kisumu','Eldoret','Konza City','Tatu City','Nakuru','Migosi Estate','Milimani Estate',)

In [ ]:
Accdf =  pd.DataFrame({'Name' : [random.choice(name)for _ in range(50)],
                   'Surname' : [random.choice(surname)for _ in range(50)],
                   'City': [random.choice(area)for _ in range(50)],
                   'accountId' : [np.random.choice(acc)for _ in range(50)],
                   'cardNumber': np.random.randint(1000000000000000,1111111111999999,50),
                   'ActivationDate' : [np.random.choice(dates) for i in range(50)],
                   'Income' : [np.random.choice(money)for _ in range(50)]})
Accdf

,Name,Surname,City,accountId,cardNumber,ActivationDate,Income
0,Fransisco,Moloi,Jabi,1082549487327559,1100658304827521,2020-09-05,54162
1,Njoroge,Sedumedi,Meyerton,1089105313261920,1029060900071894,2021-01-30,58243
2,Monica,Anyanwu,Kabarak Estate,1054833935159968,1037944868692576,2020-08-24,23892
3,Thandanani,Dlamini,Welverdiend,1007607074063246,1086226454679595,2021-03-05,1903
4,Lawrence,Njuguna,Fochville,1085864929927123,1101339287348625,2020-01-25,69677
5,Luthando,Opara,Jabi,1092854205714718,1025140240119969,2020-08-25,2618
6,Lauren,Macharia,Tsakane,1068617439624400,1025253025758157,2021-03-04,33533
7,Wanjiku,Cheruiyot,Welverdiend,1102516018052031,1026030797526118,2020-09-06,3104
8,Caleb,Ngcobo,Orange Farm,1079271296469502,1014185979774596,2020-08-11,48314
9,Martinus,van der Linde,Blybank,1003148745485144,1008651820112292,2020-09-06,4603
10,Mariska,Achieng,Thokoza,1016111475041355,1083973982543573,2021-01-26,58528
11,Thandanani,Babatunde,Konza City,1080584749485331,1039824304519430,2020-08-25,69677
12,Chinyere,Williams,Katlehong,1068617439624400,1011761719773835,2020-01-17,44273
13,Nicollette,Kimani,Wattville,1070639771233054,1016632529370204,2020-05-21,41912
14,Yakubu,Nwafor,Enugu,1025615326966060,1074072561403899,2020-02-19,28303
15,William,De Villiers,Ibara,1054833935159968,1095987763226551,2020-04-23,39760
16,Tebogo,Barnes,Irene,1040709398052014,1057525364600814,2020-04-26,59216
17,Martinus,Vos,Kitisuru,1085864929927123,1029625492810787,2020-02-12,62511
18,Caleb,Nwankwo,Mombasa Island,1079271296469502,1059371307652220,2020-08-29,66260
19,Taiwo,Njuguna,Duduza,1105962505785938,1077902911937331,2020-08-27,16535
20,Luthando,Williams,Carletonville,1108640557611791,1078818361770458,2020-01-20,9723
21,Felo,Williams,Gigiri,1082549487327559,1044219919699284,2021-03-18,28726
22,Jacqueline,Vos,Victoria Island,1051880161265727,1013516213764010,2020-11-04,6896
23,Angela,Njuguna,Mamelodi,1027256123677014,1088359626128518,2020-09-09,28120
24,Usman,Onuoha,Lekki,1080584749485331,1040198217411296,2021-01-07,67608
25,Aisha,Odhiambo,Randburg,1079589781829232,1074432125237035,2020-07-04,50633
26,Taiwo,Kariuki,Nicon Town,1110125558656018,1065140214825611,2021-03-22,18053
27,Angela,Nwachukwu,Clayville,1006429553997749,1071648867435194,2020-07-11,40964
28,Mark,Ibrahim,Portharcourt,1087832919517606,1109935031518595,2020-02-23,47281
29,Wayne,Nwankwo,Fochville,1036813970475766,1035802720452537,2020-12-11,38161
30,Caleb,Sedumedi,Kileleshwa,1054833935159968,1057971598580862,2020-11-29,64381
31,Maryam,Nwachukwu,Alimosho,1055970040922182,1074349745722534,2020-06-24,70989
32,Lebogang,Motsepe,Gigiri,1110125558656018,1021921301861162,2020-07-18,19223
33,Thandanani,Horton,Kitisuru,1082549487327559,1013961524498842,2020-10-22,69191
34,Thandanani,Yahaya,Evaton,1054833935159968,1035821274649401,2021-01-01,36986
35,Denise,Ngcobo,Devon,1082549487327559,1034392910294656,2020-08-16,9891
36,Fransisco,Otieno,Bophelong,1014217100008397,1032570570962209,2020-03-13,66289
37,Usman,Abubakar,Zithobeni,1014588055166581,1011472844537640,2020-08-25,45014
38,Trevor,Cheruiyot,Langata,1070639771233054,1107481961368279,2020-02-21,35549
39,Dennis,Nwankwo,Kokosi,1014588055166581,1099437726872833,2021-03-18,26341
40,Abdullahi,Dlamini,Johannesburg,1004224275741703,1003929278290886,2020-07-21,4062
41,Mpho,Dlamini,Ibara,1040709398052014,1092701892261164,2020-01-17,4811
42,Mpho,Wambui,Irene,1090165543626765,1098465180345313,2020-02-17,16535
43,Trevor,Zulu,Duduza,1014217100008397,1044337659626089,2020-12-11,68659
44,Annelise,Horton,Bophelong,1016111475041355,1054956422242437,2020-05-22,6896
45,Itumeleng,Yahaya,Vanderbijlpark,1110654702553345,1085114438119399,2020-06-24,5205
46,Lesego,Moloi,Ogba,1036813970475766,1021141204840784,2020-04-26,53218
47,Ben,Ochieng,Alagbado,1058278825593051,1083341879487026,2021-01-02,11622
48,Wayne,Okon,Kileleshwa,1016111475041355,1020575297644444,2020-02-26,1782
49,William,Okeke,Otukpo,1003148745485144,1018852822656831,2020-07-10,4322

In [ ]:
for i in range(6):
  Accdf = Accdf.append(Accdf,ignore_index=True)
Accdf

,Name,Surname,City,accountId,cardNumber,ActivationDate,Income
0,Fransisco,Moloi,Jabi,1082549487327559,1100658304827521,2020-09-05,54162
1,Njoroge,Sedumedi,Meyerton,1089105313261920,1029060900071894,2021-01-30,58243
2,Monica,Anyanwu,Kabarak Estate,1054833935159968,1037944868692576,2020-08-24,23892
3,Thandanani,Dlamini,Welverdiend,1007607074063246,1086226454679595,2021-03-05,1903
4,Lawrence,Njuguna,Fochville,1085864929927123,1101339287348625,2020-01-25,69677
...,...,...,...,...,...,...,...
3195,Itumeleng,Yahaya,Vanderbijlpark,1110654702553345,1085114438119399,2020-06-24,5205
3196,Lesego,Moloi,Ogba,1036813970475766,1021141204840784,2020-04-26,53218
3197,Ben,Ochieng,Alagbado,1058278825593051,1083341879487026,2021-01-02,11622
3198,Wayne,Okon,Kileleshwa,1016111475041355,1020575297644444,2020-02-26,1782
3199,William,Okeke,Otukpo,1003148745485144,1018852822656831,2020-07-10,4322

In [ ]:
transactdates = [np.random.choice(pd.date_range(datetime.datetime(2020,4,1,0),datetime.datetime(2021,3,31,0))) for i in range(366)]
transactdf = pd.DataFrame({'Transaction_Description' : [random.choice(retail)for _ in range(3200)],
                   'Transaction_Date' : [np.random.choice(transactdates) for i in range(3200)],
                   'Amount' : np.random.randint(1,6000,3200)})
transactdf.sort_values(by=['Transaction_Date'])

     Transaction_Description Transaction_Date  Amount
1819        Wetin dey Stores       2020-04-01    1781
2828               Boardmans       2020-04-01    1684
1935            Romans Pizza       2020-04-01     388
855            Mr Funtubbles       2020-04-01    1777
2991          Sausage Saloon       2020-04-01     591
...                      ...              ...     ...
2137       National Security       2021-03-31     229
2195                Converse       2021-03-31    2336
2204                  Tashas       2021-03-31    2446
3053                   Donna       2021-03-31    5669
1176           The Body Shop       2021-03-31    5471

[3200 rows x 3 columns]

In [ ]:
# df1.merge(df2, left_on='lkey', right_on='rkey')
# Accdf.merge(transactdf)
df = Accdf.join(transactdf)

In [ ]:
df

,Name,Surname,City,accountId,cardNumber,ActivationDate,Income,Transaction_Description,Transaction_Date,Amount
0,Fransisco,Moloi,Jabi,1082549487327559,1100658304827521,2020-09-05,54162,Earthchild,2020-04-29,485
1,Njoroge,Sedumedi,Meyerton,1089105313261920,1029060900071894,2021-01-30,58243,XD Theatre Dark Ride,2020-07-29,635
2,Monica,Anyanwu,Kabarak Estate,1054833935159968,1037944868692576,2020-08-24,23892,TwinsFaja Supermarkets,2021-03-25,5250
3,Thandanani,Dlamini,Welverdiend,1007607074063246,1086226454679595,2021-03-05,1903,Factorie,2020-07-29,101
4,Lawrence,Njuguna,Fochville,1085864929927123,1101339287348625,2020-01-25,69677,Boardmans,2020-05-04,4662
...,...,...,...,...,...,...,...,...,...,...
3195,Itumeleng,Yahaya,Vanderbijlpark,1110654702553345,1085114438119399,2020-06-24,5205,NWJ,2020-10-23,5709
3196,Lesego,Moloi,Ogba,1036813970475766,1021141204840784,2020-04-26,53218,Fabiani,2020-10-06,1568
3197,Ben,Ochieng,Alagbado,1058278825593051,1083341879487026,2021-01-02,11622,Burger King,2020-09-07,3610
3198,Wayne,Okon,Kileleshwa,1016111475041355,1020575297644444,2020-02-26,1782,Mochachos,2020-10-03,1999
3199,William,Okeke,Otukpo,1003148745485144,1018852822656831,2020-07-10,4322,Cash Crusaders Pay Day Advance,2020-04-12,1292

In [ ]:
df['Transportation'] = df.Income * 0.23
df['Accounts'] = df.Income * 0.08
df['Grocery'] = df.Income * 0.09
df['Entertainment'] = df.Income * 0.03
df['Emergency'] = df.Income * 0.03
df['Housing'] = df.Income * 0.4
df['Budget'] = df['Accounts'] + df['Grocery'] +df['Entertainment'] + df['Emergency'] + df['Housing'] + df['Transportation']

In [ ]:
df.round(2)

,Name,Surname,City,accountId,cardNumber,ActivationDate,Income,Transaction_Description,Transaction_Date,Amount,Transportation,Accounts,Grocery,Entertainment,Emergency,Housing
0,Fransisco,Moloi,Jabi,1082549487327559,1100658304827521,2020-09-05,54162,Earthchild,2020-04-29,485,12457.26,4332.96,4874.58,1624.86,1624.86,21664.8
1,Njoroge,Sedumedi,Meyerton,1089105313261920,1029060900071894,2021-01-30,58243,XD Theatre Dark Ride,2020-07-29,635,13395.89,4659.44,5241.87,1747.29,1747.29,23297.2
2,Monica,Anyanwu,Kabarak Estate,1054833935159968,1037944868692576,2020-08-24,23892,TwinsFaja Supermarkets,2021-03-25,5250,5495.16,1911.36,2150.28,716.76,716.76,9556.8
3,Thandanani,Dlamini,Welverdiend,1007607074063246,1086226454679595,2021-03-05,1903,Factorie,2020-07-29,101,437.69,152.24,171.27,57.09,57.09,761.2
4,Lawrence,Njuguna,Fochville,1085864929927123,1101339287348625,2020-01-25,69677,Boardmans,2020-05-04,4662,16025.71,5574.16,6270.93,2090.31,2090.31,27870.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,Itumeleng,Yahaya,Vanderbijlpark,1110654702553345,1085114438119399,2020-06-24,5205,NWJ,2020-10-23,5709,1197.15,416.40,468.45,156.15,156.15,2082.0
3196,Lesego,Moloi,Ogba,1036813970475766,1021141204840784,2020-04-26,53218,Fabiani,2020-10-06,1568,12240.14,4257.44,4789.62,1596.54,1596.54,21287.2
3197,Ben,Ochieng,Alagbado,1058278825593051,1083341879487026,2021-01-02,11622,Burger King,2020-09-07,3610,2673.06,929.76,1045.98,348.66,348.66,4648.8
3198,Wayne,Okon,Kileleshwa,1016111475041355,1020575297644444,2020-02-26,1782,Mochachos,2020-10-03,1999,409.86,142.56,160.38,53.46,53.46,712.8
3199,William,Okeke,Otukpo,1003148745485144,1018852822656831,2020-07-10,4322,Cash Crusaders Pay Day Advance,2020-04-12,1292,994.06,345.76,388.98,129.66,129.66,1728.8

In [ ]:
df['RunningBalance'] = df['Budget'] - df['Income']

In [ ]:
df

,Name,Surname,City,accountId,cardNumber,ActivationDate,Income,Transaction_Description,Transaction_Date,Amount,Transportation,Accounts,Grocery,Entertainment,Emergency,Housing,Budget,RunningBalance
0,Fransisco,Moloi,Jabi,1082549487327559,1100658304827521,2020-09-05,54162,Earthchild,2020-04-29,485,12457.26,4332.96,4874.58,1624.86,1624.86,21664.8,46579.32,-7582.68
1,Njoroge,Sedumedi,Meyerton,1089105313261920,1029060900071894,2021-01-30,58243,XD Theatre Dark Ride,2020-07-29,635,13395.89,4659.44,5241.87,1747.29,1747.29,23297.2,50088.98,-8154.02
2,Monica,Anyanwu,Kabarak Estate,1054833935159968,1037944868692576,2020-08-24,23892,TwinsFaja Supermarkets,2021-03-25,5250,5495.16,1911.36,2150.28,716.76,716.76,9556.8,20547.12,-3344.88
3,Thandanani,Dlamini,Welverdiend,1007607074063246,1086226454679595,2021-03-05,1903,Factorie,2020-07-29,101,437.69,152.24,171.27,57.09,57.09,761.2,1636.58,-266.42
4,Lawrence,Njuguna,Fochville,1085864929927123,1101339287348625,2020-01-25,69677,Boardmans,2020-05-04,4662,16025.71,5574.16,6270.93,2090.31,2090.31,27870.8,59922.22,-9754.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,Itumeleng,Yahaya,Vanderbijlpark,1110654702553345,1085114438119399,2020-06-24,5205,NWJ,2020-10-23,5709,1197.15,416.40,468.45,156.15,156.15,2082.0,4476.30,-728.70
3196,Lesego,Moloi,Ogba,1036813970475766,1021141204840784,2020-04-26,53218,Fabiani,2020-10-06,1568,12240.14,4257.44,4789.62,1596.54,1596.54,21287.2,45767.48,-7450.52
3197,Ben,Ochieng,Alagbado,1058278825593051,1083341879487026,2021-01-02,11622,Burger King,2020-09-07,3610,2673.06,929.76,1045.98,348.66,348.66,4648.8,9994.92,-1627.08
3198,Wayne,Okon,Kileleshwa,1016111475041355,1020575297644444,2020-02-26,1782,Mochachos,2020-10-03,1999,409.86,142.56,160.38,53.46,53.46,712.8,1532.52,-249.48
3199,William,Okeke,Otukpo,1003148745485144,1018852822656831,2020-07-10,4322,Cash Crusaders Pay Day Advance,2020-04-12,1292,994.06,345.76,388.98,129.66,129.66,1728.8,3716.92,-605.08

In [ ]:
pd.Series(df['Transaction_Description']).str.replace('Earth', 'Andile', regex=True)

0                          Andilechild
1                 XD Theatre Dark Ride
2               TwinsFaja Supermarkets
3                             Factorie
4                            Boardmans
                     ...
3195                               NWJ
3196                           Fabiani
3197                       Burger King
3198                         Mochachos
3199    Cash Crusaders Pay Day Advance
Name: Transaction_Description, Length: 3200, dtype: object