# Working with Numpy and Pandas
Numpy and Pandas are packages in Python that are used for handling data.

Numpy is short form of "Numerical python" and it is used in working with mostly number arrays. [Array](https://www.google.com/search?q=array+meaning&rlz=1C1JZAP_enZA940ZA941&sxsrf=APq-WBujNrnurYoExFDjmDcCx32Uxr5uiQ%3A1646675346735&ei=kkUmYpmcLI-T8gKo6bC4DQ&ved=0ahUKEwiZrejYx7T2AhWPiVwKHag0DNcQ4dUDCA4&uact=5&oq=array+meaning&gs_lcp=Cgdnd3Mtd2l6EAMyBwgjELADECcyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAELADEENKBAhBGABKBAhGGABQAFgAYMsLaAFwAXgAgAEAiAEAkgEAmAEAyAEKwAEB&sclient=gws-wiz)s are by definition an ordered series or arrangement of a particular type of thing. This means that when using Numpy we will mostly be using a collection of numbers.

Python has lists and dictionaries and tuples and sets and series built in so why do we need to use Numpy?

![why](https://media2.giphy.com/media/457NTDOuMmDfO/200.webp?cid=ecf05e47frkycyosf46393rdqpk2u4yjpgyefcka67enc6nf&rid=200.webp&ct=g)

Well there are a number of advantages one of which is speed especially when dealing with a numerical collection of numbers. Also we would need to use it for it's strong ability to slice through multi dimensional arrays and [matrices](https://www.google.com/search?q=matrix+definition+programming&rlz=1C1JZAP_enZA940ZA941&sxsrf=APq-WBv8LnFJtPFox0s2VzLEVKiup5axzA%3A1646676706997&ei=4komYoqNPIqGhbIPi9-A-AI&oq=matrix+definition+pro&gs_lcp=Cgdnd3Mtd2l6EAMYADIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeMgYIABAWEB4yBggAEBYQHjIGCAAQFhAeOgcIIxCwAxAnOgcIABBHELADOgcIABCwAxBDOgoIABDkAhCwAxgAOg8ILhDUAhDIAxCwAxBDGAE6DAguEMgDELADEEMYAToECCMQJzoFCAAQgARKBAhBGABKBAhGGAFQtilYqjNg8kJoAXABeACAAZACiAHsB5IBAzItNJgBAKABAcgBE8ABAdoBBggAEAEYCdoBBggBEAEYCA&sclient=gws-wiz). This means that there is some advantage to working with Numpy as opposed to working with Python's built-in list functionality.

So we can understand that when working with numpy we would have to have this package added to Python which will allow us to use it. To do this we will need to [pip](https://www.knowledgehut.com/blog/programming/what-is-pip-in-python) install import the package into the notebook.

In [ ]:
# When importing packages in a notebook we add the exclamation mark before pip
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.22.4)

It is important to note that we installed the package in this notebook and not in the whole of python. So this means that if you were to use another python notebook you would need to install the package again. There is method to this madness. When we use some other packages that are far larger and not as common we would need to manage the size of the python files as this could impact the general speed at which python operates under.

So with the package installed we now have to try and use and to do that we will use the import function.

In [ ]:
import numpy as np # this helps in making it easier to type

In [ ]:
# Create an array of numbers
arr = np.array([11,21,43,4,15,67,7])

In [ ]:
# Print out the array
print(arr)

[11 21 43  4 15 67  7]

In [ ]:
# Add some elements to the array
arr = np.append(arr, [10.123,21.7326372, 124.34,-12,0.1121,-21.3324,-21.3324])
arr

array([ 1.10000000e+01,  2.10000000e+01,  4.30000000e+01,  4.00000000e+00,
        1.50000000e+01,  6.70000000e+01,  7.00000000e+00,  1.01230000e+01,
        2.17326372e+01,  1.24340000e+02, -1.20000000e+01,  1.12100000e-01,
       -2.13324000e+01, -2.13324000e+01])

In [ ]:
arr
# newarr

array([ 1.10000000e+01,  2.10000000e+01,  4.30000000e+01,  4.00000000e+00,
        1.50000000e+01,  6.70000000e+01,  7.00000000e+00,  1.01230000e+01,
        2.17326372e+01,  1.24340000e+02, -1.20000000e+01,  1.12100000e-01,
       -2.13324000e+01, -2.13324000e+01])

In [ ]:
# Copy the array and display the array has elements of the same type (no floats just int)
newarr = arr.astype(int)
newarr

array([ 11,  21,  43,   4,  15,  67,   7,  10,  21, 124, -12,   0, -21,
       -21])

In [ ]:
# Copy the array and display the array has elements of the same type (no int just float)
newarr1 = arr.astype(float)
np.round(newarr1,2)

array([ 1.1000e+01,  2.1000e+01,  4.3000e+01,  4.0000e+00,  1.5000e+01,
        6.7000e+01,  7.0000e+00,  1.0120e+01,  2.1730e+01,  1.2434e+02,
       -1.2000e+01,  1.1000e-01, -2.1330e+01, -2.1330e+01])

So let's get just one element in the array. Let's use the index in the array to access it. It is important to remember that in Python we use 0 which means that the item in the first position is 0 and second item is 1 and so on. The last item in an array with length 'n' will be 'n-1' and the second last will be n-2 and so on.

In [ ]:
print(arr[11])

0.1121

In [ ]:
print(arr[-2])

-21.3324

In [ ]:
arr.shape

(14,)

In [ ]:
arr.size

14

In [ ]:
# Order the array in ascending order (smallest to biggest)
arr.sort()
arr

array([-2.13324000e+01, -2.13324000e+01, -1.20000000e+01,  1.12100000e-01,
        4.00000000e+00,  7.00000000e+00,  1.01230000e+01,  1.10000000e+01,
        1.50000000e+01,  2.10000000e+01,  2.17326372e+01,  4.30000000e+01,
        6.70000000e+01,  1.24340000e+02])

In [ ]:
# Find the location of the largest element in the array
np.argmax(newarr1)

9

In [ ]:
# Find the location of the smallest element in the array
np.argmin(arr)

0

In [ ]:
# Find where the element in the argument would go when inserted into a sorted array
np.searchsorted(arr,7)

5

Awesome so we did some basic functions with an array in Numpy! This is a simple 1-D array. It also still look like a list and all that we did is farily similar to what we can do to a list. Nothing special really right? Perhaps it might be time to...

![Level up](https://media1.giphy.com/media/St3iie3VZ65VHkobqc/200w.webp?cid=ecf05e47l1dzvpbdfbljta5woqedwyf5ysy8aqhyg9pxky7j&rid=200w.webp&ct=g)

Let's look at what Numpy cooler than the built in.
### Multi Dimensional Array
OK, but first let's undertsand what a dimension is. An array is a collection of stuff (in Numpy stuff is numerical stuff) and that stuff looks like a list. What if we added more stuff which in fact was a collection of numerical stuff. That is still a collection of stuff but we have just added levels to the stuff, those levels are dimensions. We can have multiple dimensions but we usually think of stuff as having 3 dimensions.

In [ ]:
arr1 = np.arange(1,91)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr1.shape

(90,)

In [ ]:
arr2 = np.arange(1,91).reshape(9,10)
arr2

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
       [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
       [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
       [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
       [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]])

In [ ]:
arr2.shape

(9, 10)

In [ ]:
arr3 = np.arange(1,91).reshape(3,3,10)
arr3

array([[[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
        [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]],

       [[31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
        [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
        [51, 52, 53, 54, 55, 56, 57, 58, 59, 60]],

       [[61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
        [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
        [81, 82, 83, 84, 85, 86, 87, 88, 89, 90]]])

In [ ]:
arr3.shape

(3, 3, 10)

In [ ]:
arr3 = np.arange(1,91)
arr3

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr3 = np.arange(1,91).reshape(10,9)
arr3

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34, 35, 36],
       [37, 38, 39, 40, 41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59, 60, 61, 62, 63],
       [64, 65, 66, 67, 68, 69, 70, 71, 72],
       [73, 74, 75, 76, 77, 78, 79, 80, 81],
       [82, 83, 84, 85, 86, 87, 88, 89, 90]])

So arrays and especially multi-dimesnional arrays are useful in visualising data. We more often than not use 2-D arrays in a matrix which helps in mathematical and scientific calculations.

![3D-Array](https://miro.medium.com/max/1200/1*sxnhgeSptW8Jfol8XUyP-Q.png)

In [ ]:
arr3.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90])

In [ ]:
arr3[1:3:2,1]

array([11])

OK so we have gone down the numpy path a bit. You can check out some of the other routines, modules and functions on this [link](https://numpy.org/doc/stable/reference/index.html)

You can also do some tutorials with the package [here](https://numpy.org/numpy-tutorials/).

![well done](https://c.tenor.com/qeZMLpa-G0MAAAAC/deadpool-clapping.gif)

Let's figure out some trickier concepts with this package. 
## Can it do Stats?
![I_dunno](https://www.wired.com/wp-content/uploads/2015/03/855.gif)

Yeah, well, the simple answer is yes **YOU CAN** do stats using Numpy. Afterall it is named **NUM**erical **PY**thon for a reason. So how about we see some of the built-in functions that can help you do some descriptive statistics.

**What Are Descriptive Statistics?**

Descriptive statistics are brief informational coefficients that summarize a given data set, which can be either a representation of the entire population or a sample of a population. Descriptive statistics are broken down into measures of central tendency and measures of variability (spread). Measures of central tendency include the mean, median, and mode, while measures of variability include standard deviation, variance, minimum and maximum variables, kurtosis, and skewness.

### **Central Tendancy Measures**
Centrality measures show the central or middle values of datasets. There are several definitions of what’s considered to be the center of a dataset. The three major measures of center include the mean, median, and mode.

![central_tendancy](https://cdn.corporatefinanceinstitute.com/assets/central-tendency4.png)

The mean is often the sum of all the values divided by the number of values in a distribution. We can also refer to it as the average.

![I_mean](https://media.tenor.com/Uc7IWZFXI4gAAAAM/i-mean-gif.gif)

In [ ]:
# Mean
np.mean(arr3)

45.5

**The median** is the *middle value* of a sorted data set.
To calculate the median, arrange the data points in the increasing order and the middle value is the median. It is easy to find out the middle value if there is an odd number of data points. If the collection is even, then the median is the arithmetic mean of the two values in the middle.

![]()

In [ ]:
# Median
np.median(arr3)

45.5

**The mode** refers to the most repeating element in the array. 

![Mode]()

If there isn’t a single such value, then the set is multimodal since it has multiple modal values.

In [ ]:
from statistics import mode

In [ ]:
# Mode
array = np.array([2,5,621,21,3,8,9,7,9,8,7,775,5,8])

In [ ]:
vals,counts = np.unique(array, return_counts=True)
vals

array([  2,   3,   5,   7,   8,   9,  21, 621, 775])

In [ ]:
counts

array([1, 1, 2, 2, 3, 2, 1, 1, 1])

In [ ]:
mode = np.argmax(counts)
mode

4

In [ ]:
print(vals[mode])

8

In [ ]:
from scipy import stats as st
print(st.mode(array))

ModeResult(mode=array([8]), count=array([3]))

![](https://i.imgflip.com/6e0y2v.jpg)

There is a difference in between these measures which is often not always noticed but exists.

1. The *median* is a better choice when the indicator *can be affected by some outliers*.
2. The *median* is the middle value which is *not affected by these outliers*.
3. The *mean is* a better choice when there are *no extreme values that can affect it*.
4. The *mean is* a better summary because the *information from every data point is included* rather than median, which is just the middle value.
5. The *mode* is the *value that occurs the most number of times* in our data set.


![central_tendancy_distribution](https://miro.medium.com/max/651/0*BicwQ6RD8k3YTByX)

In [ ]:
np.median(array)

8.0

In [ ]:
np.mean(array)

106.28571428571429

In [ ]:
st.mode(array)

ModeResult(mode=array([8]), count=array([3]))

### **Variability Measures**

Variability measures are values that describe how the data varies. It gives us a sense of how much the data tends to diverge from the typical value. These include
- Range
- Percentiles
- Variance
- Standard Deviation
- Skewness

![deviation](https://y.yarn.co/c0442378-c20e-42cb-8510-7019c4a908c0_text.gif)

**Range** is just the largest number minus the smallest number. The range gives a quick sense of the spread of the distribution to those who require only a rough indication of the data. The major drawback is it does not give any information of the data in between maximum and minimum.

In [ ]:
np.ptp(array)

773

**Percentile** is a measure which is a number where a certain percentage of scores fall below that number. In other words it is a value on a scale of one hundred that indicates the percent of a distribution that is equal to or below it.

In [ ]:
# Tenth percentile
np.percentile(array, 10)

3.6

In [ ]:
# Fourteenth percentile
np.percentile(array, 14)

4.640000000000001

In [ ]:
# Q1
np.percentile(array, 25)

5.5

In [ ]:
# Q2
np.percentile(array, 50)

8.0

In [ ]:
# Q3
np.percentile(array, 75)

9.0

In [ ]:
# Percentiles as a list
np.percentile(array, [25,50,75])

array([5.5, 8. , 9. ])

**Quantiles** are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities, or dividing the observations in a sample in the same way. In simple terms, a quantile is where a sample is divided into equal-sized, adjacent, subgroups. We use decimals to indicate the percentages that we want.

In [ ]:
np.quantile(array, 0.1)

3.6

In [ ]:
np.quantile(array, 0.14)

4.640000000000001

In [ ]:
np.quantile(array, 0.25)

5.5

In [ ]:
# Quantile
np.quantile(array, [0.25,0.5,0.75])

array([5.5, 8. , 9. ])


## Pandas
So we have gotten this far and it means we can look at the next package which we use quite often used alongside Numpy...**Pandas** *cue the song [Panda](https://www.youtube.com/watch?v=E5ONTXHS2mM&ab_channel=DesiignerVEVO)* 

So Pandas is a package that is built on top of Numpy and it is a way of working with data in a tabular format. So we get to see data in a format very similar to an array where it has columns and rows and the data falls within this structure.

![pandas](https://miro.medium.com/max/819/1*Dss7A8Z-M4x8LD9ccgw7pQ.png)

When the data is in this format we refer to it as a dataframe and this dataframe is then a set of data which can be imported, analysed, cleaned and manipulated. The process of manipulating the data is a way in which we make the data readable and have relevance and use. We can see things such as correlation, averages, mean, min and relations. 

Like Numpy we have to instal the package first.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
test_table = {
    'Students' : ['Name1', 'Name2', 'Name3'],
    'StudentAlt' : ['NameAlt1','NameAlt2','NameAlt3']
}
test_table

{'Students': ['Name1', 'Name2', 'Name3'],
 'StudentAlt': ['NameAlt1', 'NameAlt2', 'NameAlt3']}

In [ ]:
df = pd.DataFrame(test_table)

In [ ]:
df.

SyntaxError: ignored

In [ ]:
df.insert(2,'RegistrationDate',['2002-28-23','testing','to see if it works'])

In [ ]:
df

In [ ]:
import datetime
import random

In [ ]:
df.drop(columns = ['RegistrationDate'])

In [ ]:
import pandas as pd
import numpy as np
import datetime
import random

In [ ]:
acc = np.random.randint(1000000000000000,1111111111999999,50)
card = np.random.randint(1000000000000000,1111111111999999,50)
dates = [np.random.choice(pd.date_range(datetime.datetime(2020,1,1),datetime.datetime(2021,3,31))) for i in range(400)]
money = np.random.randint(-300,72000,300)

In [ ]:
dftest= pd.DataFrame({'Acc' : [np.random.choice(acc) for i in range(50)],
    'dates': [np.random.choice(pd.date_range(datetime.datetime(2020,1,1),datetime.datetime(2021,3,31))) for i in range(50)]})

In [ ]:
dftest